[DeviceDispSensor]
DispSensor_SerialPortName=COM1
DispSensor_SerialPortBaudrate=0
Pizco1_Port=COM3
Pizco1_Baudrate=0
Pizco2_Port=COM4
Pizco2_Baudrate=0
DispenserType=2
TJV_IP_1=12
Inivolt_1=0
falltime_10=0
openvolt_10=0
opentime_10=0
risetime_10=0
pixelcount_10=0
falltime_11=0
openvolt_11=0
opentime_11=0
risetime_11=0
pixelcount_11=0
falltime_12=0
openvolt_12=0
opentime_12=0
risetime_12=0
pixelcount_12=0
falltime_13=0
openvolt_13=0
opentime_13=0
risetime_13=0
pixelcount_13=0
falltime_14=0
openvolt_14=0
opentime_14=0
risetime_14=0
pixelcount_14=0
falltime_15=0
openvolt_15=0
opentime_15=0
risetime_15=0
pixelcount_15=0
falltime_16=0
openvolt_16=0
opentime_16=0
risetime_16=0
pixelcount_16=0
falltime_17=0
openvolt_17=0
opentime_17=0
risetime_17=0
pixelcount_17=0
falltime_18=0
openvolt_18=0
opentime_18=0
risetime_18=0
pixelcount_18=0
falltime_19=0
openvolt_19=0
opentime_19=0
risetime_19=0
pixelcount_19=0
rowcount_1=0
TJV_IP_2=13
Inivolt_2=0
falltime_20=0
openvolt_20=0
opentime_20=0
risetime_20=0
pixelcount_20=0
falltime_21=0
openvolt_21=0
opentime_21=0
risetime_21=0
pixelcount_21=0
falltime_22=0
openvolt_22=0
opentime_22=0
risetime_22=0
pixelcount_22=0
falltime_23=0
openvolt_23=0
opentime_23=0
risetime_23=0
pixelcount_23=0
falltime_24=0
openvolt_24=0
opentime_24=0
risetime_24=0
pixelcount_24=0
falltime_25=0
openvolt_25=0
opentime_25=0
risetime_25=0
pixelcount_25=0
falltime_26=0
openvolt_26=0
opentime_26=0
risetime_26=0
pixelcount_26=0
falltime_27=0
openvolt_27=0
opentime_27=0
risetime_27=0
pixelcount_27=0
falltime_28=0
openvolt_28=0
opentime_28=0
risetime_28=0
pixelcount_28=0
falltime_29=0
openvolt_29=0
opentime_29=0
risetime_29=0
pixelcount_29=0
rowcount_2=0
