[Option]
DryRUN=False
FullRUN=True
VisionSkip=True
ByPassMode=False
OnlyRobotRunTest=False
AMOSkip=True
WaveNSkip=True
AlignSkip=False
InLine=False
EQP ID=SVI #1
InspSkipAMO1=True
InspSkipAMO2=True
InspSkipWAV1=True
InspSkipWAV2=True
FanAlamrInterval=1800000
InspAlamrInterval=10000
InspReslutAlarm=60000
InspAlarm=60000
PcbRGB_Offset_Mode=True
EqpID=SVI #1
UseFlux1=False
UseFlux2=False
UseDetach=False
UseAttach=False
UseInsBeforeDetach=True
UseInsAfterDetach=True
UseInsAfterDotting=True
UseInsAfterAttach=False
UsePickandPlace=True
UseDispCheckPCB=False
UseDispCheckWafer=False
UseLED_Exist_MatchOffset=True
Use2ndBottomAdjust=False
UseInsAfterPlace=True
Flux1DottingTailUse=False
Flux1DottingTailheight=0
Flux1DottingTailTime=0
Flux2DottingTailUse=False
Flux2DottingTailheight=0
Flux2DottingTailTime=0
Width=0
Height=0
PCBCountX=0
PCBCountY=0
PCBZone=0
PCBPitchX=0
PCBPitchY=0
PCBFirstLedOffsetX=0
PCBFirstLedOffsetY=0
WaferXCount=70
WaferYCount=70
WaferXPitch=450
WaferYPitch=450
WaferR_FirstLed_OffsetX=26938
WaferR_FirstLed_OffsetY=17343
WaferG_FirstLed_OffsetX=0
WaferG_FirstLed_OffsetY=0
WaferB_FirstLed_OffsetX=0
WaferB_FirstLed_OffsetY=0
XOddOffset=0
XEvenOffset=0
YOddOffset=0
YEvenOffset=0
GelPakFeederIndex=0
FluxFeederIndex=5
ReadBcr=True
UseLedNozzleVacCheck=False
WaferChipMode=True
WaferInspection_Count=50
AttachInspection_LimitX=0.1
AttachInspection_LimitY=0.1
AttachInspection_LimitT=0.1
UseJigPlateAngle=False
UsePlateAngle=True
UseCleanJig=True
UseLensHeight=True
VacuumCheck=True
IndexCheck=True
TrayCheck=True
VisionCheck=True
UseBonder1=True
UseBonder2=True
UseCuring1=False
UseCuring2=False
UseVision=True
VisionResult=False
LensHeightResult=False
JigPlateAngleResult=False
PlateAngleResult=False
LensHeightSoftWareJudge=True
UseIdle=False
Actuator_1_Mode=True
Actuator_2_Mode=False
JettingMode=0
UsePlusenum1=False
UsePlusenum2=False
JettingMode1=2
JettingMode2=2
UseIdle1=False
UseIdle2=False
UseLineIoFull1=False
UseLineIoFull2=False
UseTipClean1=False
UseTipClean2=False
UseActAndCure=True
UseActRetry=True
UseResultDummyPass=False
UseDummy1=False
UseDummy2=False
UseCureVisionFail=False
UseLockType=False
UseGap=False
UseSecondaryCorrection=False
UseActAction1=True
UseActAction2=True
UseMES=False
VisionVer=2.0.1.4
PlateAngleResultRowJudge=True
UsePreActuating=False
Actuator_3_Mode=True
UsePreBonder=False
UseLensPicker=True
UseActAction3=False
Use_TJV_Cooling1=False
Use_TJV_Cooling2=False
