0=EXIT PROGRAM.
1=STRAT PROGRAM.
3=EMERGENCY STOP.
500=INITIALIZE.
511=ALL MOTORS ARE NOT ACTIVE.
512=I/O BOARD IS NOT ACTIVE.
513=ALL CYLINDERS ARE NOT ACTIVE.
902=
903=
904=EMG-FRONT PRESSED.
905=EMG-REAR PRESSED.
906=CHECK MAIN_CDA.
907=VCM TRANSFER OVERLOAD.
908=VCM TRANSFER OVERLOAD.
909=LENS TRANSFER OVERLOAD.
910=LENS TRANSFER OVERLOAD.
911=UNLOAD TRANSFER OVERLOAD.
912=UNLOAD TRANSFER OVERLOAD.
913=VCM HEAD OVERLOAD.
914=UNLOAD HEAD OVERLOAD.
915=
916=
917=
918=
919=
920=
924=
925=
926=
927=
928=
929=
930=
931=
932=
933=
934=
935=
936=
937=
938=
939=
940=
941=
942=
943=
944=
945=
946=
1000=[VCM LOADER] Magazine Z Not Ready.
1001=[VCM LOADER] Magazine Z Servo Off.
1002=[VCM LOADER] Magazine Z Servo Pack Error.
1003=[VCM LOADER] Magazine Z Negative(-) Limit.
1004=[VCM LOADER] Magazine Z Positive(+) Limit.
1005=[VCM LOADER] Magazine Z Home Search Complete Fail.
1006=[VCM LOADER] Magazine Z Home Search Time Out.
1007=[VCM LOADER] Magazine Z Moving Time Out.
1010=[VCM LOADER] Transfer X Not Ready.
1011=[VCM LOADER] Transfer X Servo Off.
1012=[VCM LOADER] Transfer X Servo Pack Error.
1013=[VCM LOADER] Transfer X Negative(-) Limit.
1014=[VCM LOADER] Transfer X Positive(+) Limit.
1015=[VCM LOADER] Transfer X Home Search Complete Fail.
1016=[VCM LOADER] Transfer X Home Search Time Out.
1017=[VCM LOADER] Transfer X Moving Time Out.
1200=[VCM LOADER] 투입할 Tray가 없습니다.
1201=[VCM LOADER] 투입할 Tray 공간이 없습니다.
1202=[VCM LOADER] Magazine이 없습니다. 확인 바랍니다.
1203=[VCM LOADER] Stage 위에 자재가 감지 되었습니다. 확인 바랍니다.
1204=[VCM LOADER] Transfer 위에 자재가 감지 되었습니다. 확인 바랍니다.
1205=[VCM LOADER] 센서 감지가 안됨. 자재 확인 바람.
1206=[VCM LOADER] Stage 위에 자재가 감지 되지 않았습니다. 확인 바랍니다.
1300=[VCM LOADER] Transfer Clamp - Not Active.
1301=[VCM LOADER] Transfer Clamp - Initialization Error.
1302=[VCM LOADER] Transfer Clamp - Forward Error.
1303=[VCM LOADER] Transfer Clamp - Time Out at Forward Moving.
1304=[VCM LOADER] Transfer Clamp - Backward Error.
1305=[VCM LOADER] Transfer Clamp - Time Out at Backward Moving.
1310=[VCM LOADER] Stage Clamp - Not Active.
1311=[VCM LOADER] Stage Clamp - Initilaization Error.
1312=[VCM LOADER] Stage Clamp - Forward Error.
1313=[VCM LOADER] Stage Clamp - Forward Moving Time Out.
1314=[VCM LOADER] Stage Clamp - Backward Error.
1315=[VCM LOADER] Stage Clamp - Backward Moving TIme Out.
1500=[VCM PICKER] Head X Not Ready.
1501=[VCM PICKER] Head X Servo Off.
1502=[VCM PICKER] Head X Servo Pack Error.
1503=[VCM PICKER] Head X Negative(-) Limit.
1504=[VCM PICKER] Head X Positive(+) Limit.
1505=[VCM PICKER] Head X Home Search Complete Fail.
1506=[VCM PICKER] Head X Home Search Time Out.
1507=[VCM PICKER] Head X Moving Time Out.
1510=[VCM PICKER] Head Y Not Ready.
1511=[VCM PICKER] Head Y Servo Off.
1512=[VCM PICKER] Head Y Servo Pack Error.
1513=[VCM PICKER] Head Y Negative(-) Limit.
1514=[VCM PICKER] Head Y Positive(+) Limit.
1515=[VCM PICKER] Head Y Home Search Complete Fail.
1516=[VCM PICKER] Head Y Home Search Time Out.
1517=[VCM PICKER] Head Y Moving Time Out.
1520=[VCM PICKER] Head Z Not Ready.
1521=[VCM PICKER] Head Z Servo Off.
1522=[VCM PICKER] Head Z Servo Pack Error.
1523=[VCM PICKER] Head Z Negative(-) Limit.
1524=[VCM PICKER] Head Z Positive(+) Limit.
1525=[VCM PICKER] Head Z Home Search Complete Fail.
1526=[VCM PICKER] Head Z Home Search Time Out.
1527=[VCM PICKER] Head Z Moving Time Out.
1530=[VCM PICKER] Head T Not Ready.
1531=[VCM PICKER] Head T Servo Off.
1532=[VCM PICKER] Head T Servo Pack Error.
1533=[VCM PICKER] Head T Negative(-) Limit.
1534=[VCM PICKER] Head T Positive(+) Limit.
1535=[VCM PICKER] Head T Home Search Complete Fail.
1536=[VCM PICKER] Head T Home Search Time Out.
1537=[VCM PICKER] Head T Moving Time Out.
1540=[VCM PICKER] Stage Y Not Ready.
1541=[VCM PICKER] Stage Y Servo Off.
1542=[VCM PICKER] Stage Y Servo Pack Error.
1543=[VCM PICKER] Stage Y Negative(-) Limit.
1544=[VCM PICKER] Stage Y Positive(+) Limit.
1545=[VCM PICKER] Stage Y Home Search Complete Fail.
1546=[VCM PICKER] Stage Y Home Search Time Out.
1547=[VCM PICKER] Stage Y Moving Time Out.
1700=[VCM PICKER] VCM PICK UP Fail.
1701=[VCM PICKER] VCM Index Check Fail.
1702=[VCM PICKER] VCM PLACE Fail.
1800=[VCM CLAMP] VCM Clamp - Not Active
1801=[VCM CLAMP] VCM Clamp - Initialization Error.
1802=[VCM CLAMP] VCM Clamp - Forward Error.
1803=[VCM CLAMP] VCM Clamp - Forward Moving Time Out.
1804=[VCM CLAMP] VCM Clamp - Backward Error.
1805=[VCM CLAMP] VCM Clamp - Backward Moving Time Out.
2000=[LENS LOADER] Magazine Z Not Ready.
2001=[LENS LOADER] Magazine Z Servo Off.
2002=[LENS LOADER] Magazine Z Servo Pack Error.
2003=[LENS LOADER] Magazine Z Negative(-) Limit.
2004=[LENS LOADER] Magazine Z Positive(+) Limit.
2005=[LENS LOADER] Magazine Z Home Search Complete Fail.
2006=[LENS LOADER] Magazine Z Home Search Time Out.
2007=[LENS LOADER] Magazine Z Moving Time Out.
2010=[LENS LOADER] Transfer Y Not Ready.
2011=[LENS LOADER] Transfer Y Servo Off.
2012=[LENS LOADER] Transfer Y Servo Pack Error.
2013=[LENS LOADER] Transfer Y Negative(-) Limit.
2014=[LENS LOADER] Transfer Y Positive(+) Limit.
2015=[LENS LOADER] Transfer Y Home Search Complete Fail.
2016=[LENS LOADER] Transfer Y Home Search Time Out.
2017=[LENS LOADER] Transfer Y Moving Time Out.
2200=[LENS LOADER] 투입할 Tray가 없습니다.
2201=[LENS LOADER] 투입할 Tray 공간이 없습니다.
2202=[LENS LOADER] Magazine이 없습니다. 확인 바랍니다.
2203=[LENS LOADER] Stage 위에 자재가 감지 되었습니다. 확인 바랍니다.
2204=[LENS LOADER] Transfer 위에 자재가 감지 되었습니다. 확인 바랍니다.
2205=[LENS LOADER] 센서 감지가 안됨. 자재 확인 바람.
2206=[LENS LOADER] Stage 위에 자재가 감지 되지 않았습니다. 확인 바랍니다.
2207=[LENS LOADER] Transfer 위에 자재가 감지 되었습니다. 확인 바랍니다
2300=[LENS LOADER] Transfer Clamp - Not Active.
2301=[LENS LOADER] Transfer Clamp - Initialization Error.
2302=[LENS LOADER] Transfer Clamp - Forward Error.
2303=[LENS LOADER] Transfer Clamp - Time Out at Forward Moving.
2304=[LENS LOADER] Transfer Clamp - Backward Error.
2305=[LENS LOADER] Transfer Clamp - Time Out at Backward Moving.
2310=[LENS LOADER] Stage Clamp - Not Active.
2311=[LENS LOADER] Stage Clamp - Initilaization Error.
2312=[LENS LOADER] Stage Clamp - Forward Error.
2313=[LENS LOADER] Stage Clamp - Forward Moving Time Out.
2314=[LENS LOADER] Stage Clamp - Backward Error.
2315=[LENS LOADER] Stage Clamp - Backward Moving TIme Out.
2500=[LENS PICKER] Head X Not Ready.
2501=[LENS PICKER] Head X Servo Off.
2502=[LENS PICKER] Head X Servo Pack Error.
2503=[LENS PICKER] Head X Negative(-) Limit.
2504=[LENS PICKER] Head X Positive(+) Limit.
2505=[LENS PICKER] Head X Home Search Complete Fail.
2506=[LENS PICKER] Head X Home Search Time Out.
2507=[LENS PICKER] Head X Moving Time Out.
2510=[LENS PICKER] Head Y Not Ready.
2511=[LENS PICKER] Head Y Servo Off.
2512=[LENS PICKER] Head Y Servo Pack Error.
2513=[LENS PICKER] Head Y Negative(-) Limit.
2514=[LENS PICKER] Head Y Positive(+) Limit.
2515=[LENS PICKER] Head Y Home Search Complete Fail.
2516=[LENS PICKER] Head Y Home Search Time Out.
2517=[LENS PICKER] Head Y Moving Time Out.
2520=[LENS PICKER] Head Z Not Ready.
2521=[LENS PICKER] Head Z Servo Off.
2522=[LENS PICKER] Head Z Servo Pack Error.
2523=[LENS PICKER] Head Z Negative(-) Limit.
2524=[LENS PICKER] Head Z Positive(+) Limit.
2525=[LENS PICKER] Head Z Home Search Complete Fail.
2526=[LENS PICKER] Head Z Home Search Time Out.
2527=[LENS PICKER] Head Z Moving Time Out.
2530=[LENS PICKER] Head T Not Ready.
2531=[LENS PICKER] Head T Servo Off.
2532=[LENS PICKER] Head T Servo Pack Error.
2533=[LENS PICKER] Head T Negative(-) Limit.
2534=[LENS PICKER] Head T Positive(+) Limit.
2535=[LENS PICKER] Head T Home Search Complete Fail.
2536=[LENS PICKER] Head T Home Search Time Out.
2537=[LENS PICKER] Head T Moving Time Out.
2540=[LENS PICKER] Stage Y Not Ready.
2541=[LENS PICKER] Stage Y Servo Off.
2542=[LENS PICKER] Stage Y Servo Pack Error.
2543=[LENS PICKER] Stage Y Negative(-) Limit.
2544=[LENS PICKER] Stage Y Positive(+) Limit.
2545=[LENS PICKER] Stage Y Home Search Complete Fail.
2546=[LENS PICKER] Stage Y Home Search Time Out.
2547=[LENS PICKER] Stage Y Moving Time Out.
2700=[LENS PICKER] (Pick) V2 Ready Vision Time Out.
2701=[LENS PICKER] Vision 인식 실패 (자재 없음).
2702=[LENS PICKER] (Pick) V2 Complete Vision TimeOut
2703=[LENS PICKER] Vacuum Check Fail.
2704=[LENS PICKER] Place 중 자재 lost
2705=[LENS PICKER] VCM Vision Ready Position Move Time out
2706=[LENS PICKER] Place 후 자재 확인.
2707=[LENS PICKER] Bottom Check 중 자재 lost
2708=[LENS PICKER] (Bottom Check) V3 Ready Vision TimeOut
2709=[LENS PICKER] (Bottom Check) V3 Complete Vision TimeOut
2710=[LENS PICKER] (Bottom Check) V3 Complete Vision NG
2711=[LENS PICKER] Kiểm tra Len trên Picker.
2712=[VISION PC] Vision Recipe Name Miss Match.
2713=[VISION PC] Vision PC No Response.
3000=[JIG FLATNESS] JIG Flatness Not Ready.
3001=[JIG FLATNESS] JIG Flatness Servo Off.
3002=[JIG FLATNESS] JIG Flatness Servo Pack Error.
3003=[JIG FLATNESS] JIG Flatness Negative(-) Limit.
3004=[JIG FLATNESS] JIG Flatness Positive(+) Limit.
3005=[JIG FLATNESS] JIG Flatness Home Search Complete Fail.
3006=[JIG FLATNESS] JIG Flatness Home Search Time Out.
3007=[JIG FLATNESS] JIG Flatness Moving Time Out.
3700=[LENS HEIGHT] Product is UnMatching
3701=[LENS HEIGHT] Assemble Fail.
3800=[LENS HEIGHT] Lens Height Measure - Not Active.
3801=[LENS HEIGHT] Lens Height Measure - Initilaization Error.
3802=[LENS HEIGHT] Lens Height Measure - Forward Error.
3803=[LENS HEIGHT] Lens Height Measure - Forward Moving Time Out.
3804=[LENS HEIGHT] Lens Height Measure - Backward Error.
3805=[LENS HEIGHT] Lens Height Measure - Backward Moving TIme Out.
4000=[BONDER 1] BONDER 1 Head X Not Ready.
4001=[BONDER 1] BONDER 1 Head X Servo Off.
4002=[BONDER 1] BONDER 1 Head X Servo Pack Error.
4003=[BONDER 1] BONDER 1 Head X Negative(-) Limit.
4004=[BONDER 1] BONDER 1 Head X Positive(+) Limit.
4005=[BONDER 1] BONDER 1 Head X Home Search Complete Fail.
4006=[BONDER 1] BONDER 1 Head X Home Search Time Out.
4007=[BONDER 1] BONDER 1 Head X Moving Time Out.
4010=[BONDER 1] BONDER 1 Head Y Not Ready.
4011=[BONDER 1] BONDER 1 Head Y Servo Off.
4012=[BONDER 1] BONDER 1 Head Y Servo Pack Error.
4013=[BONDER 1] BONDER 1 Head Y Negative(-) Limit.
4014=[BONDER 1] BONDER 1 Head Y Positive(+) Limit.
4015=[BONDER 1] BONDER 1 Head Y Home Search Complete Fail.
4016=[BONDER 1] BONDER 1 Head Y Home Search Time Out.
4017=[BONDER 1] BONDER 1 Head Y Moving Time Out.
4020=[BONDER 1] BONDER 1 Head Z Not Ready.
4021=[BONDER 1] BONDER 1 Head Z Servo Off.
4022=[BONDER 1] BONDER 1 Head Z Servo Pack Error.
4023=[BONDER 1] BONDER 1 Head Z Negative(-) Limit.
4024=[BONDER 1] BONDER 1 Head Z Positive(+) Limit.
4025=[BONDER 1] BONDER 1 Head Z Home Search Complete Fail.
4026=[BONDER 1] BONDER 1 Head Z Home Search Time Out.
4027=[BONDER 1] BONDER 1 Head Z Moving Time Out.
4200=[BONDER 1] (Check Camera) V4 Ready Vision TimeOut
4201=[BONDER 1] (Check Camera) V4 Complete Vision TimeOut
4203=[BONDER 1] Jetting Pluse Num Value Time Out
4204=[BONDER 1] (Check PJ Controller) WorkMode Notmatch
4205=[BONDER 1] Cleaning Change Please
4206=[BONDER 1] EPOXY Change Please
4207=[BONDER 1] Receive Vision V7 Ready Command Time Out.
4208=[BONDER 1] Auto Cal Vision Not Found.
4209=[BONDER 1] Receive Vision V7 Complete Command Time Out.
4210=[BONDER 1] Auto Cal Retry Count Over.
4211=[BONDER 1] Dispenser 1 Comm Err
4212=[BONDER 1] Dispenser 1 Comm Time  Out
4213=[BONDER 1] DSO Signal is not Off - Time Out
4214=[BONDER 1] SemiAuto - Gap Touch Adjust Measure Over
4215=[BONDER 1] Air Dispenser Alarm Type 1
4216=[BONDER 1] Air Dispenser Alarm Type 2
4300=[BONDER 1] BONDER 1 Tip Cleaner - Not Active.
4301=[BONDER 1] BONDER 1 Tip Cleaner - Initilaization Error.
4302=[BONDER 1] BONDER 1 Tip Cleaner - Forward Error.
4303=[BONDER 1] BONDER 1 Tip Cleaner - Forward Moving Time Out.
4304=[BONDER 1] BONDER 1 Tip Cleaner - Backward Error.
4305=[BONDER 1] BONDER 1 Tip Cleaner - Backward Moving TIme Out.
4500=[BONDER 2] BONDER 2 Head X Not Ready.
4501=[BONDER 2] BONDER 2 Head X Servo Off.
4502=[BONDER 2] BONDER 2 Head X Servo Pack Error.
4503=[BONDER 2] BONDER 2 Head X Negative(-) Limit.
4504=[BONDER 2] BONDER 2 Head X Positive(+) Limit.
4505=[BONDER 2] BONDER 2 Head X Home Search Complete Fail.
4506=[BONDER 2] BONDER 2 Head X Home Search Time Out.
4507=[BONDER 2] BONDER 2 Head X Moving Time Out.
4510=[BONDER 2] BONDER 2 Head Y Not Ready.
4511=[BONDER 2] BONDER 2 Head Y Servo Off.
4512=[BONDER 2] BONDER 2 Head Y Servo Pack Error.
4513=[BONDER 2] BONDER 2 Head Y Negative(-) Limit.
4514=[BONDER 2] BONDER 2 Head Y Positive(+) Limit.
4515=[BONDER 2] BONDER 2 Head Y Home Search Complete Fail.
4516=[BONDER 2] BONDER 2 Head Y Home Search Time Out.
4517=[BONDER 2] BONDER 2 Head Y Moving Time Out.
4520=[BONDER 2] BONDER 2 Head Z Not Ready.
4521=[BONDER 2] BONDER 2 Head Z Servo Off.
4522=[BONDER 2] BONDER 2 Head Z Servo Pack Error.
4523=[BONDER 2] BONDER 2 Head Z Negative(-) Limit.
4524=[BONDER 2] BONDER 2 Head Z Positive(+) Limit.
4525=[BONDER 2] BONDER 2 Head Z Home Search Complete Fail.
4526=[BONDER 2] BONDER 2 Head Z Home Search Time Out.
4527=[BONDER 2] BONDER 2 Head Z Moving Time Out.
4700=[BONDER 2] (Check Camera) V5 Ready Vision TimeOut
4701=[BONDER 2] (Check Camera) V5 Complete Vision TimeOut
4703=[BONDER 2] Jetting Pluse Num Value Time Out
4704=[BONDER 2] (Check PJ Controller) WorkMode Notmatch
4705=[BONDER 2] Cleaning Change Please
4706=[BONDER 2] EPOXY Change Please
4707=[BONDER 2] Receive Vision V8 Ready Command Time Out.
4708=[BONDER 2] Auto Cal Vision Not Found.
4709=[BONDER 2] Receive Vision V8 Complete Command Time Out.
4710=[BONDER 2] Auto Cal Retry Count Over.
4711=[BONDER 2] Dispenser 2 Comm Err
4712=[BONDER 2] Dispenser 2 Comm Time  Out
4713=[BONDER 2] DSO Signal is not Off - Time Out
4714=[BONDER 2] SemiAuto - Gap Touch Adjust Measure Over
4715=[BONDER 2] Air Dispenser Alarm Type 1
4716=[BONDER 2] Air Dispenser Alarm Type 2
4800=[BONDER 2] BONDER 2 Tip Cleaner - Not Active.
4801=[BONDER 2] BONDER 2 Tip Cleaner - Initilaization Error.
4802=[BONDER 2] BONDER 2 Tip Cleaner - Forward Error.
4803=[BONDER 2] BONDER 2 Tip Cleaner - Forward Moving Time Out.
4804=[BONDER 2] BONDER 2 Tip Cleaner - Backward Error.
4805=[BONDER 2] BONDER 2 Tip Cleaner - Backward Moving TIme Out.
5200=[VISION INSPECT] (Measure) V6 Ready Vision TimeOut
5201=[VISION INSPECT] (Measure) V6 Complete Vision TimeOut
5700=[CURING 1] Actuator is not Ready
5701=[CURING 1] Actuator is Fail
5702=[CURING 1] UV Lamp is not On
5703=[CURING 1] Product is UnMatching
5704=[CURING 1] Actuator PGM Check.
5705=[CURING 1] AF PID NG.
5706=[CURING 1] OIS X, OIS Y PID NG.
5800=[CURING 1] CURING 1 Contact - Not Active.
5801=[CURING 1] CURING 1 Contact - Initilaization Error.
5802=[CURING 1] CURING 1 Contact - Forward Error.
5803=[CURING 1] CURING 1 Contact - Forward Moving Time Out.
5804=[CURING 1] CURING 1 Contact - Backward Error.
5805=[CURING 1] CURING 1 Contact - Backward Moving TIme Out.
5810=[CURING 1] CURING 1 UV Down - Not Active.
5811=[CURING 1] CURING 1 UV Down - Initilaization Error.
5812=[CURING 1] CURING 1 UV Down - Forward Error.
5813=[CURING 1] CURING 1 UV Down - Forward Moving Time Out.
5814=[CURING 1] CURING 1 UV Down - Backward Error.
5815=[CURING 1] CURING 1 UV Down - Backward Moving TIme Out.
6201=[CURING 2] Product is UnMatching
6202=[CURING 2] UV Lamp is not On
6300=[CURING 2] CURING 2 Contact - Not Active.
6301=[CURING 2] CURING 2 Contact - Initilaization Error.
6302=[CURING 2] CURING 2 Contact - Forward Error.
6303=[CURING 2] CURING 2 Contact - Forward Moving Time Out.
6304=[CURING 2] CURING 2 Contact - Backward Error.
6305=[CURING 2] CURING 2 Contact - Backward Moving TIme Out.
6310=[CURING 2] CURING 2 UV Down - Not Active.
6311=[CURING 2] CURING 2 UV Down - Initilaization Error.
6312=[CURING 2] CURING 2 UV Down - Forward Error.
6313=[CURING 2] CURING 2 UV Down - Forward Moving Time Out.
6314=[CURING 2] CURING 2 UV Down - Backward Error.
6315=[CURING 2] CURING 2 UV Down - Backward Moving TIme Out.
6500=[SIDE ANGLE MEASURE] Side Angle Measure Not Ready.
6501=[SIDE ANGLE MEASURE] Side Angle Measure Servo Off.
6502=[SIDE ANGLE MEASURE] Side Angle Measure Servo Pack Error.
6503=[SIDE ANGLE MEASURE] Side Angle Measure Negative(-) Limit.
6504=[SIDE ANGLE MEASURE] Side Angle Measure Positive(+) Limit.
6505=[SIDE ANGLE MEASURE] Side Angle Measure Home Search Complete Fail.
6506=[SIDE ANGLE MEASURE] Side Angle Measure Home Search Time Out.
6507=[SIDE ANGLE MEASURE] Side Angle Measure Moving Time Out.
6700=[SIDE ANGLE MEASURE] Vac Check Err.
6701=[SIDE ANGLE MEASURE] Unload Picker Head Move Avoid Position Time Out
6702=[SIDE ANGLE MEASURE] Head에 자재 감지. Head 확인 바랍니다.
6703=[SIDE ANGLE MEASURE] INDEX에 자재 감지. INDEX 확인 바랍니다.
6704=[SIDE ANGLE MEASURE] Actuator 2 PGM Check.
6705=[SIDE ANGLE MEASURE] Actuator 2 is Not Ready.
6800=[SIDE ANGLE MEASURE] Side Angle Up-Down - Not Active.
6801=[SIDE ANGLE MEASURE] Side Angle Up-Down - Initilaization Error.
6802=[SIDE ANGLE MEASURE] Side Angle Up-Down - Forward Error.
6803=[SIDE ANGLE MEASURE] Side Angle Up-Down - Forward Moving Time Out.
6804=[SIDE ANGLE MEASURE] Side Angle Up-Down - Backward Error.
6805=[SIDE ANGLE MEASURE] Side Angle Up-Down - Backward Moving TIme Out.
6810=[SIDE ANGLE MEASURE] Side Angle Fw-Bw - Not Active.
6811=[SIDE ANGLE MEASURE] Side Angle Fw-Bw - Initilaization Error.
6812=[SIDE ANGLE MEASURE] Side Angle Fw-Bw - Forward Error.
6813=[SIDE ANGLE MEASURE] Side Angle Fw-Bw - Forward Moving Time Out.
6814=[SIDE ANGLE MEASURE] Side Angle Fw-Bw - Backward Error.
6815=[SIDE ANGLE MEASURE] Side Angle Fw-Bw - Backward Moving TIme Out.
6820=[SIDE ANGLE MEASURE] Side Angle Clamp - Not Active.
6821=[SIDE ANGLE MEASURE] Side Angle Clamp - Initilaization Error.
6822=[SIDE ANGLE MEASURE] Side Angle Clamp - Forward Error.
6823=[SIDE ANGLE MEASURE] Side Angle Clamp - Forward Moving Time Out.
6824=[SIDE ANGLE MEASURE] Side Angle Clamp - Backward Error.
6825=[SIDE ANGLE MEASURE] Side Angle Clamp - Backward Moving TIme Out.
6830=[SIDE ANGLE MEASURE] Side Angle Contact - Not Active.
6831=[SIDE ANGLE MEASURE] Side Angle Contact - Initilaization Error.
6832=[SIDE ANGLE MEASURE] Side Angle Contact - Forward Error.
6833=[SIDE ANGLE MEASURE] Side Angle Contact - Forward Moving Time Out.
6834=[SIDE ANGLE MEASURE] Side Angle Contact - Backward Error.
6835=[SIDE ANGLE MEASURE] Side Angle Contact - Backward Moving TIme Out.
7000=[UNLOADER] Magazine Z Not Ready.
7001=[UNLOADER] Magazine Z Servo Off.
7002=[UNLOADER] Magazine Z Servo Pack Error.
7003=[UNLOADER] Magazine Z Negative(-) Limit.
7004=[UNLOADER] Magazine Z Positive(+) Limit.
7005=[UNLOADER] Magazine Z Home Search Complete Fail.
7006=[UNLOADER] Magazine Z Home Search Time Out.
7007=[UNLOADER] Magazine Z Moving Time Out.
7010=[UNLOADER] Transfer X Not Ready.
7011=[UNLOADER] Transfer X Servo Off.
7012=[UNLOADER] Transfer X Servo Pack Error.
7013=[UNLOADER] Transfer X Negative(-) Limit.
7014=[UNLOADER] Transfer X Positive(+) Limit.
7015=[UNLOADER] Transfer X Home Search Complete Fail.
7016=[UNLOADER] Transfer X Home Search Time Out.
7017=[UNLOADER] Transfer X Moving Time Out.
7200=[UNLOADER] 투입할 Tray 공간이 없습니다.
7201=[UNLOADER] Magazine이 없습니다. 확인 바랍니다.
7202=[UNLOADER] Stage 위에 자재가 감지 되었습니다. 확인 바랍니다.
7203=[UNLOADER] Transfer 위에 자재가 감지 되었습니다. 확인 바랍니다.
7204=[UNLOADER] 센서 감지가 안됨. 자재 확인 바람.
7300=[UNLOADER] Transfer Clamp - Not Active.
7301=[UNLOADER] Transfer Clamp - Initialization Error.
7302=[UNLOADER] Transfer Clamp - Forward Error.
7303=[UNLOADER] Transfer Clamp - Time Out at Forward Moving.
7304=[UNLOADER] Transfer Clamp - Backward Error.
7305=[UNLOADER] Transfer Clamp - Time Out at Backward Moving.
7310=[UNLOADER] Stage Clamp - Not Active.
7311=[UNLOADER] Stage Clamp - Initilaization Error.
7312=[UNLOADER] Stage Clamp - Forward Error.
7313=[UNLOADER] Stage Clamp - Forward Moving Time Out.
7314=[UNLOADER] Stage Clamp - Backward Error.
7315=[UNLOADER] Stage Clamp - Backward Moving TIme Out.
7500=[UNLOAD PICKER] Head X Not Ready.
7501=[UNLOAD PICKER] Head X Servo Off.
7502=[UNLOAD PICKER] Head X Servo Pack Error.
7503=[UNLOAD PICKER] Head X Negative(-) Limit.
7504=[UNLOAD PICKER] Head X Positive(+) Limit.
7505=[UNLOAD PICKER] Head X Home Search Complete Fail.
7506=[UNLOAD PICKER] Head X Home Search Time Out.
7507=[UNLOAD PICKER] Head X Moving Time Out.
7510=[UNLOAD PICKER] Head Y Not Ready.
7511=[UNLOAD PICKER] Head Y Servo Off.
7512=[UNLOAD PICKER] Head Y Servo Pack Error.
7513=[UNLOAD PICKER] Head Y Negative(-) Limit.
7514=[UNLOAD PICKER] Head Y Positive(+) Limit.
7515=[UNLOAD PICKER] Head Y Home Search Complete Fail.
7516=[UNLOAD PICKER] Head Y Home Search Time Out.
7517=[UNLOAD PICKER] Head Y Moving Time Out.
7520=[UNLOAD PICKER] Head Z Not Ready.
7521=[UNLOAD PICKER] Head Z Servo Off.
7522=[UNLOAD PICKER] Head Z Servo Pack Error.
7523=[UNLOAD PICKER] Head Z Negative(-) Limit.
7524=[UNLOAD PICKER] Head Z Positive(+) Limit.
7525=[UNLOAD PICKER] Head Z Home Search Complete Fail.
7526=[UNLOAD PICKER] Head Z Home Search Time Out.
7527=[UNLOAD PICKER] Head Z Moving Time Out.
7530=[UNLOAD PICKER] Head T Not Ready.
7531=[UNLOAD PICKER] Head T Servo Off.
7532=[UNLOAD PICKER] Head T Servo Pack Error.
7533=[UNLOAD PICKER] Head T Negative(-) Limit.
7534=[UNLOAD PICKER] Head T Positive(+) Limit.
7535=[UNLOAD PICKER] Head T Home Search Complete Fail.
7536=[UNLOAD PICKER] Head T Home Search Time Out.
7537=[UNLOAD PICKER] Head T Moving Time Out.
7540=[UNLOADER] Stage Y Not Ready.
7541=[UNLOADER] Stage Y Servo Off.
7542=[UNLOADER] Stage Y Servo Pack Error.
7543=[UNLOADER] Stage Y Negative(-) Limit.
7544=[UNLOADER] Stage Y Positive(+) Limit.
7545=[UNLOADER] Stage Y Home Search Complete Fail.
7546=[UNLOADER] Stage Y Home Search Time Out.
7547=[UNLOADER] Stage Y Moving Time Out.
7700=[UNLOAD PICKER] NG Tray Full
7701=[UNLOAD PICKER] Side Angle Measure FW 실린더 Time Out.
7702=[UNLOAD PICKER] Vacuum Check Fail.
7703=[UNLOAD PICKER] NG Tray Empty.
8300=[CLEAN JIG] Clean JIG Cylinder - Not Active.
8301=[CLEAN JIG] Clean JIG Cylinder - Initilaization Error.
8302=[CLEAN JIG] Clean JIG Cylinder - Forward Error.
8303=[CLEAN JIG] Clean JIG Cylinder - Forward Moving Time Out.
8304=[CLEAN JIG] Clean JIG Cylinder - Backward Error.
8305=[CLEAN JIG] Clean JIG Cylinder - Backward Moving TIme Out.
8500=[INDEX] Index T Not Ready.
8501=[INDEX] Index T Servo Off.
8502=[INDEX] Index T Servo Pack Error.
8503=[INDEX] Index T Negative(-) Limit.
8504=[INDEX] Index T Positive(+) Limit.
8505=[INDEX] Index T Home Search Complete Fail.
8506=[INDEX] Index T Home Search Time Out.
8507=[INDEX] Index T Moving Time Out.
8700=[INDEX] VCM Unloading Sensor Check.
9000=[VCM VISION] VCM Vision Not Ready.
9001=[VCM VISION] VCM Vision Servo Off.
9002=[VCM VISION] VCM Vision Servo Pack Error.
9003=[VCM VISION] VCM Vision Negative(-) Limit.
9004=[VCM VISION] VCM Vision Positive(+) Limit.
9005=[VCM VISION] VCM Vision Home Search Complete Fail.
9006=[VCM VISION] VCM Vision Home Search Time Out.
9007=[VCM VISION] VCM Vision Moving Time Out.
9200=[VCM VISION] Lens Picker Move Avoid Position Time Out
9201=[VCM VISION] (Inspect) V1 Ready Vision TimeOut
9202=[VCM VISION] VISION NG!
9203=[VCM VISION] (Inspect) V1 Complete Vision TimeOut