[Option]
RunMode=0
Language=1
DoorAlarmDispMode=1
PlaceOverrideUse=1
ActuatorPath1=D:\KSTAR\3CH_Lens_Assembly\Lens_Assembly_CH1.exe
ActuatorPath2=D:\KSTAR\3CH_Lens_Assembly\Lens_Assembly_CH2.exe
IndexSkip0=False
IndexSkip1=False
IndexSkip2=False
IndexSkip3=False
IndexSkip4=False
IndexSkip5=False
IndexSkip6=False
IndexSkip7=False
IndexSkip8=False
IndexSkip9=False
IndexSkip10=False
IndexSkip11=False
TorqueLimit=1000
ResetTime1=800
ResetTime2=2000
PickOverrideUse=1
LensPickerUpperTDirectionCCW=True
TorqueLimitPick=900
TorqueLimitTheta=500
ProductDiameter=8.2
MESAgentPath=D:\Agent\LinkAgent.exe
