[VCM_LOADER]
SlotCount=5
SlotPitchZ=36000
TrayCountX=8
TrayCountY=8
TrayPitchX=16500
TrayPitchY=16500
MovingDelayZ=100
MovingDelayX=100
ReadyPositionZ=-3613
InOutOffsetZ=0
ReadyPositionY=0
StagePositionY=19130
MagazinePositionY=252392
EjectPositionY=36145
StageFirstPickPositionY=36145
StageMagazineChangePositionY=0
ReadyPositionX=0
[VCM_PICKER]
MovingDelayX=100
MovingDelayY=100
MovingDelayZ=100
MovingDelayT=100
StepPlaceSpeed=0
VCMVacDelay=200
VCMBlowDelay=200
ReadyPositionX=120258
ReadyPositionY=40835
ReadyPositionZ=0
ReadyPositionT=381
StageFirstPickPositionX=6471
StagePickPositionY=38638
StagePickPositionZ=69067
StagePickPositionT=-365
IndexPlacePositionX=276363
IndexPlacePositionY=40008
IndexPlacePositionZ=20552
IndexStepPlaceOffset=0
ClampPlacePositionZ=10800
IndexPlacePositionT=-195
[LENS_LOADER]
SlotCount=5
SlotPitchZ=25000
TrayCountX=10
TrayCountY=10
TrayPitchX=11000
TrayPitchY=11000
MovingDelayZ=100
MovingDelayY=100
MovingDelayX=100
ReadyPositionZ=-2478
InOutOffsetZ=0
ReadyPositionY=0
StagePositionY=18070
MagazinePositionY=215454
ReadyPositionX=-729
EjectPositionX=-729
StageFirstPickPositionX=1043
WorkPositionX=0
StageMagazineChangePositionX=-729
[LENS_PICKER]
MovingDelayX=0
MovingDelayY=0
MovingDelayZ=50
MovingDelayT=50
StepPlaceSpeed=10
BottomCamStepSpeed=0
LensVacDelay=100
LensBlowDelay=300
LensUpperGrabDelay=200
LensUnderGrabDelay=200
SecondaryCorrLimit=5
ReadyPositionX=49874
ReadyPositionY=49874
ReadyPositionZ=19398
ReadyPositionT=0
StagePickPositionX=56664
StageFirstPickPositionY=73515
StagePickPositionZ=39658
StageStepPickOffset=4000
StagePickPositionT=0
IndexPlacePositionX=167864
IndexPlacePositionY=-14671
IndexPlacePositionZ=30650
IndexStepPlaceOffset=3000
IndexPlacePositionT=0
BottomCamPositionX=98484
BottomCamPositionY=-12035
BottomCamPositionZ=19398
BottomCamStepOffset=0
BottomCamPositionT=0
LensOffsetT=0
CameraDistanceOffsetX=-52590
CameraDistanceOffsetY=-18760
LockingUp=-20
LockingPositionT=850
[LENS_HEIGHT]
MinOver=-1000
MaxOver=1000
DefaultHeight_0=-5.231
DefaultHeight_1=-5.213
DefaultHeight_2=-5.219
DefaultHeight_3=-5.209
DefaultHeight_4=-5.225
DefaultHeight_5=-5.217
DefaultHeight_6=-5.202
DefaultHeight_7=-5.214
DefaultHeight_8=-5.207
DefaultHeight_9=-5.209
DefaultHeight_10=-5.196
DefaultHeight_11=-5.185
MeasureTime=1800
[JIG_PLATE_ANGLE]
MovingDelay=0
MeasureTime=1000
ReadyPosition=39600
WorkPosition=25100
[BONDER_1]
JettingCount=4500
JettingTime=500
IdleTime=3600000
ActuatorTime=3000
RiseTime=0
HoldTime=0
FallTime=0
JetDelay=0
Pct=0
PulseNum=0
WorkMode=0
Voltage=0
MovingDelayX=0
MovingDelayY=0
MovingDelayZ=100
Bonder1GrabDelay=400
GapPosX=-4000
GapPosY=-4000
GapOffsetLimitZ=4000
GapMeasureDelay=50
GapOffsetZ=1000
ReadyPositionX=25013
ReadyPositionY=62696
ReadyPositionZ=20000
CamPositionX=64977
CamPositionY=117277
CamPositionZ=39585
CameraDistanceOffsetX=56409
CameraDistanceOffsetY=10128
Jetting1OffsetX=0
Jetting1OffsetY=0
Jetting2OffsetX=0
Jetting2OffsetY=0
Jetting3OffsetX=0
Jetting3OffsetY=0
Jetting4OffsetX=0
Jetting4OffsetY=0
JettingPositionZ=54200
AvoidPositionX=72000
AvoidPositionY=0
IdlePosX=30107
IdlePosY=62696
IdlePosZ=45000
SamplePosX=-7350
SamplePosY=36441
SamplePosZ=0
SampleVisionPosZ=0
SampleGapPosX=-6401
SampleGapPosY=54711
TouchPosX=-3980
TouchPosY=63422
TouchPosZ=0
TouchLimitZ=55055
TouchStep=100
TouchOffsetZ=0
CleanPositionX=-5138
CleanPositionY=84101
CleanPositionZ=1655
TipCleanStartPosX=9391
TipCleanStartPosY=5932
TipCleanPosZ=51995
TipCleanCntY=30
TipCleanPitchY=500
AutoCalSpec=0
AutoCalCount=0
GapDistanceX=0
GapDistanceY=0
GapTouchX=0
GapTouchY=0
GapAdjustX=0
GapAdjustY=0
GapMeasureZ=0
[BONDER_1_POINT]
JetDataCount=2
0_Enable=True
0_Radius=3.4
0_Angle=138
0_Delay=200
0_ZOffset=200
0_ZUp=7000
0_PluseNum=12
0_DPTime=50
1_Enable=True
1_Radius=3.6
1_Angle=225
1_Delay=200
1_ZOffset=200
1_ZUp=7000
1_PluseNum=12
1_DPTime=50
2_Enable=True
2_Radius=5.05
2_Angle=141
2_Delay=100
2_ZOffset=0
2_ZUp=0
2_PluseNum=10
2_DPTime=0
3_Enable=True
3_Radius=5.05
3_Angle=146
3_Delay=100
3_ZOffset=0
3_ZUp=0
3_PluseNum=12
3_DPTime=0
4_Enable=True
4_Radius=5.1
4_Angle=215
4_Delay=100
4_ZOffset=0
4_ZUp=0
4_PluseNum=12
4_DPTime=0
5_Enable=True
5_Radius=5.1
5_Angle=220
5_Delay=100
5_ZOffset=0
5_ZUp=0
5_PluseNum=12
5_DPTime=0
6_Enable=True
6_Radius=5.1
6_Angle=230
6_Delay=100
6_ZOffset=0
6_ZUp=0
6_PluseNum=12
6_DPTime=0
7_Enable=True
7_Radius=5.1
7_Angle=235
7_Delay=100
7_ZOffset=0
7_ZUp=0
7_PluseNum=9
7_DPTime=0
[BONDER_1_PATTERN]
PL_JetPatternLineDataCount=4
PL_0_JetPatternLineDataCount=6
PL_Ptn0_0_XPos=-2080
PL_Ptn0_0_YPos=2500
PL_Ptn0_0_ZPos=100
PL_Ptn0_0_LineSpeed=3000
PL_Ptn0_0_ZSpeed=0
PL_Ptn0_0_Shot=False
PL_Ptn0_1_XPos=-2090
PL_Ptn0_1_YPos=2500
PL_Ptn0_1_ZPos=100
PL_Ptn0_1_LineSpeed=3000
PL_Ptn0_1_ZSpeed=0
PL_Ptn0_1_Shot=False
PL_1_JetPatternLineDataCount=6
PL_Ptn1_0_XPos=-2520
PL_Ptn1_0_YPos=-2200
PL_Ptn1_0_ZPos=100
PL_Ptn1_0_LineSpeed=3000
PL_Ptn1_0_ZSpeed=0
PL_Ptn1_0_Shot=False
PL_Ptn1_1_XPos=-2510
PL_Ptn1_1_YPos=-2200
PL_Ptn1_1_ZPos=100
PL_Ptn1_1_LineSpeed=3000
PL_Ptn1_1_ZSpeed=0
PL_Ptn1_1_Shot=False
PL_2_JetPatternLineDataCount=5
PL_Ptn2_0_XPos=2080
PL_Ptn2_0_YPos=-2500
PL_Ptn2_0_ZPos=100
PL_Ptn2_0_LineSpeed=3000
PL_Ptn2_0_ZSpeed=0
PL_Ptn2_0_Shot=False
PL_Ptn2_1_XPos=2090
PL_Ptn2_1_YPos=-2500
PL_Ptn2_1_ZPos=100
PL_Ptn2_1_LineSpeed=3000
PL_Ptn2_1_ZSpeed=0
PL_Ptn2_1_Shot=False
PL_3_JetPatternLineDataCount=6
PL_Ptn3_0_XPos=2520
PL_Ptn3_0_YPos=2200
PL_Ptn3_0_ZPos=100
PL_Ptn3_0_LineSpeed=3000
PL_Ptn3_0_ZSpeed=0
PL_Ptn3_0_Shot=False
PL_Ptn3_1_XPos=2510
PL_Ptn3_1_YPos=2200
PL_Ptn3_1_ZPos=100
PL_Ptn3_1_LineSpeed=3000
PL_Ptn3_1_ZSpeed=0
PL_Ptn3_1_Shot=False
PL_4_JetPatternLineDataCount=2
PL_Ptn4_0_XPos=2300
PL_Ptn4_0_YPos=3050
PL_Ptn4_0_ZPos=0
PL_Ptn4_0_LineSpeed=0
PL_Ptn4_0_ZSpeed=0
PL_Ptn4_0_Shot=True
PL_Ptn4_1_XPos=-2300
PL_Ptn4_1_YPos=3050
PL_Ptn4_1_ZPos=0
PL_Ptn4_1_LineSpeed=0
PL_Ptn4_1_ZSpeed=0
PL_Ptn4_1_Shot=True
PL_5_JetPatternLineDataCount=2
PL_Ptn5_0_XPos=-2450
PL_Ptn5_0_YPos=3200
PL_Ptn5_0_ZPos=0
PL_Ptn5_0_LineSpeed=0
PL_Ptn5_0_ZSpeed=0
PL_Ptn5_0_Shot=True
PL_Ptn5_1_XPos=-3000
PL_Ptn5_1_YPos=2650
PL_Ptn5_1_ZPos=0
PL_Ptn5_1_LineSpeed=0
PL_Ptn5_1_ZSpeed=0
PL_Ptn5_1_Shot=True
PL_6_JetPatternLineDataCount=2
PL_Ptn6_0_XPos=-3000
PL_Ptn6_0_YPos=2400
PL_Ptn6_0_ZPos=0
PL_Ptn6_0_LineSpeed=0
PL_Ptn6_0_ZSpeed=0
PL_Ptn6_0_Shot=True
PL_Ptn6_1_XPos=-3200
PL_Ptn6_1_YPos=-2000
PL_Ptn6_1_ZPos=0
PL_Ptn6_1_LineSpeed=0
PL_Ptn6_1_ZSpeed=0
PL_Ptn6_1_Shot=True
PL_7_JetPatternLineDataCount=2
PL_Ptn7_0_XPos=-3200
PL_Ptn7_0_YPos=-2300
PL_Ptn7_0_ZPos=0
PL_Ptn7_0_LineSpeed=0
PL_Ptn7_0_ZSpeed=0
PL_Ptn7_0_Shot=True
PL_Ptn7_1_XPos=-2500
PL_Ptn7_1_YPos=-3100
PL_Ptn7_1_ZPos=0
PL_Ptn7_1_LineSpeed=0
PL_Ptn7_1_ZSpeed=0
PL_Ptn7_1_Shot=True
PL_Ptn1_2_XPos=-2400
PL_Ptn1_2_YPos=-2300
PL_Ptn1_2_ZPos=100
PL_Ptn1_2_LineSpeed=2500
PL_Ptn1_2_ZSpeed=0
PL_Ptn1_2_Shot=True
PL_Ptn1_3_XPos=-2200
PL_Ptn1_3_YPos=-2400
PL_Ptn1_3_ZPos=100
PL_Ptn1_3_LineSpeed=2500
PL_Ptn1_3_ZSpeed=0
PL_Ptn1_3_Shot=True
PL_Ptn1_4_XPos=-2090
PL_Ptn1_4_YPos=-2500
PL_Ptn1_4_ZPos=100
PL_Ptn1_4_LineSpeed=3000
PL_Ptn1_4_ZSpeed=0
PL_Ptn1_4_Shot=False
PL_Ptn1_5_XPos=-2080
PL_Ptn1_5_YPos=-2500
PL_Ptn1_5_ZPos=100
PL_Ptn1_5_LineSpeed=3000
PL_Ptn1_5_ZSpeed=0
PL_Ptn1_5_Shot=False
PL_Ptn0_2_XPos=-2300
PL_Ptn0_2_YPos=2400
PL_Ptn0_2_ZPos=100
PL_Ptn0_2_LineSpeed=2500
PL_Ptn0_2_ZSpeed=0
PL_Ptn0_2_Shot=True
PL_Ptn0_3_XPos=-2400
PL_Ptn0_3_YPos=2200
PL_Ptn0_3_ZPos=100
PL_Ptn0_3_LineSpeed=2500
PL_Ptn0_3_ZSpeed=0
PL_Ptn0_3_Shot=True
PL_Ptn0_4_XPos=-2510
PL_Ptn0_4_YPos=2200
PL_Ptn0_4_ZPos=100
PL_Ptn0_4_LineSpeed=3000
PL_Ptn0_4_ZSpeed=0
PL_Ptn0_4_Shot=False
PL_Ptn0_5_XPos=-2520
PL_Ptn0_5_YPos=2200
PL_Ptn0_5_ZPos=100
PL_Ptn0_5_LineSpeed=3000
PL_Ptn0_5_ZSpeed=0
PL_Ptn0_5_Shot=False
PL_Ptn2_2_XPos=2300
PL_Ptn2_2_YPos=-2400
PL_Ptn2_2_ZPos=100
PL_Ptn2_2_LineSpeed=2500
PL_Ptn2_2_ZSpeed=0
PL_Ptn2_2_Shot=True
PL_Ptn2_3_XPos=2400
PL_Ptn2_3_YPos=-2200
PL_Ptn2_3_ZPos=100
PL_Ptn2_3_LineSpeed=2500
PL_Ptn2_3_ZSpeed=0
PL_Ptn2_3_Shot=True
PL_Ptn2_4_XPos=2510
PL_Ptn2_4_YPos=-2200
PL_Ptn2_4_ZPos=100
PL_Ptn2_4_LineSpeed=3000
PL_Ptn2_4_ZSpeed=0
PL_Ptn2_4_Shot=False
PL_Ptn2_5_XPos=2520
PL_Ptn2_5_YPos=-2200
PL_Ptn2_5_ZPos=100
PL_Ptn2_5_LineSpeed=3000
PL_Ptn2_5_ZSpeed=0
PL_Ptn2_5_Shot=False
PL_Ptn3_2_XPos=2400
PL_Ptn3_2_YPos=2300
PL_Ptn3_2_ZPos=100
PL_Ptn3_2_LineSpeed=2500
PL_Ptn3_2_ZSpeed=0
PL_Ptn3_2_Shot=True
PL_Ptn3_3_XPos=2200
PL_Ptn3_3_YPos=2500
PL_Ptn3_3_ZPos=100
PL_Ptn3_3_LineSpeed=2500
PL_Ptn3_3_ZSpeed=0
PL_Ptn3_3_Shot=True
PL_Ptn3_4_XPos=2090
PL_Ptn3_4_YPos=2500
PL_Ptn3_4_ZPos=100
PL_Ptn3_4_LineSpeed=3000
PL_Ptn3_4_ZSpeed=0
PL_Ptn3_4_Shot=False
PL_Ptn3_5_XPos=2080
PL_Ptn3_5_YPos=2500
PL_Ptn3_5_ZPos=100
PL_Ptn3_5_LineSpeed=3000
PL_Ptn3_5_ZSpeed=0
PL_Ptn3_5_Shot=False
[BONDER_1_Arc]
PL_JetPatternARcDataCount=2
PL_0_JetPatternArcDataCount=4
PL_Ptn0_0_XPos=-1880
PL_Ptn0_0_YPos=2600
PL_Ptn0_0_EXPos=0
PL_Ptn0_0_EYPos=0
PL_Ptn0_0_Angle=0
PL_Ptn0_0_ZPos=100
PL_Ptn0_0_LineSpeed=10000
PL_Ptn0_0_ZSpeed=0
PL_Ptn0_0_Shot=False
PL_Ptn0_0_Type=0
PL_Ptn0_1_XPos=-1900
PL_Ptn0_1_YPos=2600
PL_Ptn0_1_EXPos=0
PL_Ptn0_1_EYPos=0
PL_Ptn0_1_Angle=0
PL_Ptn0_1_ZPos=100
PL_Ptn0_1_LineSpeed=10000
PL_Ptn0_1_ZSpeed=0
PL_Ptn0_1_Shot=False
PL_Ptn0_1_Type=0
PL_Ptn0_2_XPos=-2220
PL_Ptn0_2_YPos=-3000
PL_Ptn0_2_EXPos=-2200
PL_Ptn0_2_EYPos=-3000
PL_Ptn0_2_Angle=17
PL_Ptn0_2_ZPos=100
PL_Ptn0_2_LineSpeed=20000
PL_Ptn0_2_ZSpeed=0
PL_Ptn0_2_Shot=True
PL_Ptn0_2_Type=1
PL_Ptn0_3_XPos=-2600
PL_Ptn0_3_YPos=1850
PL_Ptn0_3_EXPos=1900
PL_Ptn0_3_EYPos=-3250
PL_Ptn0_3_Angle=0
PL_Ptn0_3_ZPos=100
PL_Ptn0_3_LineSpeed=10000
PL_Ptn0_3_ZSpeed=0
PL_Ptn0_3_Shot=False
PL_Ptn0_3_Type=0
PL_Ptn0_4_XPos=3100
PL_Ptn0_4_YPos=-2200
PL_Ptn0_4_EXPos=0
PL_Ptn0_4_EYPos=0
PL_Ptn0_4_Angle=17
PL_Ptn0_4_ZPos=100
PL_Ptn0_4_LineSpeed=20000
PL_Ptn0_4_ZSpeed=0
PL_Ptn0_4_Shot=True
PL_Ptn0_4_Type=1
PL_Ptn0_5_XPos=-1900
PL_Ptn0_5_YPos=-2550
PL_Ptn0_5_EXPos=2250
PL_Ptn0_5_EYPos=-3300
PL_Ptn0_5_Angle=0
PL_Ptn0_5_ZPos=100
PL_Ptn0_5_LineSpeed=1000
PL_Ptn0_5_ZSpeed=0
PL_Ptn0_5_Shot=False
PL_Ptn0_5_Type=0
PL_Ptn0_6_XPos=2250
PL_Ptn0_6_YPos=-3300
PL_Ptn0_6_EXPos=3000
PL_Ptn0_6_EYPos=-2450
PL_Ptn0_6_Angle=75
PL_Ptn0_6_ZPos=100
PL_Ptn0_6_LineSpeed=35000
PL_Ptn0_6_ZSpeed=0
PL_Ptn0_6_Shot=True
PL_Ptn0_6_Type=1
PL_Ptn0_7_XPos=3250
PL_Ptn0_7_YPos=2300
PL_Ptn0_7_EXPos=0
PL_Ptn0_7_EYPos=0
PL_Ptn0_7_Angle=0
PL_Ptn0_7_ZPos=100
PL_Ptn0_7_LineSpeed=1000
PL_Ptn0_7_ZSpeed=0
PL_Ptn0_7_Shot=False
PL_Ptn0_7_Type=0
PL_Ptn0_8_XPos=3000
PL_Ptn0_8_YPos=-2400
PL_Ptn0_8_EXPos=3100
PL_Ptn0_8_EYPos=-2200
PL_Ptn0_8_Angle=9
PL_Ptn0_8_ZPos=100
PL_Ptn0_8_LineSpeed=38000
PL_Ptn0_8_ZSpeed=0
PL_Ptn0_8_Shot=True
PL_Ptn0_8_Type=1
PL_Ptn0_9_XPos=2500
PL_Ptn0_9_YPos=2840
PL_Ptn0_9_EXPos=3200
PL_Ptn0_9_EYPos=2000
PL_Ptn0_9_Angle=0
PL_Ptn0_9_ZPos=100
PL_Ptn0_9_LineSpeed=1000
PL_Ptn0_9_ZSpeed=0
PL_Ptn0_9_Shot=False
PL_Ptn0_9_Type=0
PL_Ptn0_10_XPos=3200
PL_Ptn0_10_YPos=2300
PL_Ptn0_10_EXPos=0
PL_Ptn0_10_EYPos=0
PL_Ptn0_10_Angle=78
PL_Ptn0_10_ZPos=100
PL_Ptn0_10_LineSpeed=37000
PL_Ptn0_10_ZSpeed=0
PL_Ptn0_10_Shot=True
PL_Ptn0_10_Type=1
PL_Ptn0_11_XPos=-2480
PL_Ptn0_11_YPos=3070
PL_Ptn0_11_EXPos=3200
PL_Ptn0_11_EYPos=2400
PL_Ptn0_11_Angle=0
PL_Ptn0_11_ZPos=100
PL_Ptn0_11_LineSpeed=1000
PL_Ptn0_11_ZSpeed=0
PL_Ptn0_11_Shot=False
PL_Ptn0_11_Type=0
PL_Ptn0_12_XPos=3200
PL_Ptn0_12_YPos=2400
PL_Ptn0_12_EXPos=2550
PL_Ptn0_12_EYPos=3100
PL_Ptn0_12_Angle=5
PL_Ptn0_12_ZPos=100
PL_Ptn0_12_LineSpeed=41000
PL_Ptn0_12_ZSpeed=0
PL_Ptn0_12_Shot=True
PL_Ptn0_12_Type=1
PL_Ptn0_13_XPos=-2870
PL_Ptn0_13_YPos=2420
PL_Ptn0_13_EXPos=0
PL_Ptn0_13_EYPos=0
PL_Ptn0_13_Angle=0
PL_Ptn0_13_ZPos=100
PL_Ptn0_13_LineSpeed=1000
PL_Ptn0_13_ZSpeed=0
PL_Ptn0_13_Shot=False
PL_Ptn0_13_Type=0
PL_Ptn0_14_XPos=2400
PL_Ptn0_14_YPos=3100
PL_Ptn0_14_EXPos=2300
PL_Ptn0_14_EYPos=3050
PL_Ptn0_14_Angle=76
PL_Ptn0_14_ZPos=100
PL_Ptn0_14_LineSpeed=35000
PL_Ptn0_14_ZSpeed=0
PL_Ptn0_14_Shot=True
PL_Ptn0_14_Type=1
PL_Ptn0_15_XPos=-3150
PL_Ptn0_15_YPos=-2350
PL_Ptn0_15_EXPos=-2300
PL_Ptn0_15_EYPos=3050
PL_Ptn0_15_Angle=0
PL_Ptn0_15_ZPos=100
PL_Ptn0_15_LineSpeed=1000
PL_Ptn0_15_ZSpeed=0
PL_Ptn0_15_Shot=False
PL_Ptn0_15_Type=0
PL_Ptn0_16_XPos=-2350
PL_Ptn0_16_YPos=2850
PL_Ptn0_16_EXPos=0
PL_Ptn0_16_EYPos=0
PL_Ptn0_16_Angle=5
PL_Ptn0_16_ZPos=100
PL_Ptn0_16_LineSpeed=42000
PL_Ptn0_16_ZSpeed=0
PL_Ptn0_16_Shot=True
PL_Ptn0_16_Type=1
PL_Ptn0_17_XPos=-2410
PL_Ptn0_17_YPos=-2950
PL_Ptn0_17_EXPos=0
PL_Ptn0_17_EYPos=0
PL_Ptn0_17_Angle=0
PL_Ptn0_17_ZPos=100
PL_Ptn0_17_LineSpeed=1000
PL_Ptn0_17_ZSpeed=0
PL_Ptn0_17_Shot=False
PL_Ptn0_17_Type=0
PL_1_JetPatternArcDataCount=4
PL_Ptn1_0_XPos=-2610
PL_Ptn1_0_YPos=-1850
PL_Ptn1_0_EXPos=0
PL_Ptn1_0_EYPos=0
PL_Ptn1_0_Angle=0
PL_Ptn1_0_ZPos=100
PL_Ptn1_0_LineSpeed=10000
PL_Ptn1_0_ZSpeed=0
PL_Ptn1_0_Shot=False
PL_Ptn1_0_Type=0
PL_Ptn1_1_XPos=-2600
PL_Ptn1_1_YPos=-1850
PL_Ptn1_1_EXPos=0
PL_Ptn1_1_EYPos=0
PL_Ptn1_1_Angle=0
PL_Ptn1_1_ZPos=100
PL_Ptn1_1_LineSpeed=10000
PL_Ptn1_1_ZSpeed=0
PL_Ptn1_1_Shot=False
PL_Ptn1_1_Type=0
PL_Ptn1_2_XPos=0
PL_Ptn1_2_YPos=0
PL_Ptn1_2_EXPos=0
PL_Ptn1_2_EYPos=0
PL_Ptn1_2_Angle=17
PL_Ptn1_2_ZPos=100
PL_Ptn1_2_LineSpeed=20000
PL_Ptn1_2_ZSpeed=0
PL_Ptn1_2_Shot=True
PL_Ptn1_2_Type=1
PL_Ptn1_3_XPos=-1900
PL_Ptn1_3_YPos=-2550
PL_Ptn1_3_EXPos=0
PL_Ptn1_3_EYPos=0
PL_Ptn1_3_Angle=0
PL_Ptn1_3_ZPos=100
PL_Ptn1_3_LineSpeed=10000
PL_Ptn1_3_ZSpeed=0
PL_Ptn1_3_Shot=False
PL_Ptn1_3_Type=0
[BONDER_2]
JettingCount=4500
JettingTime=500
IdleTime=3600000
RiseTime=0
HoldTime=0
FallTime=0
JetDelay=0
Pct=0
PulseNum=0
WorkMode=0
Voltage=0
MovingDelayX=0
MovingDelayY=0
MovingDelayZ=100
Bonder2GrabDelay=400
GapPosX=4000
GapPosY=-4000
GapOffsetLimitZ=4000
GapMeasureDelay=50
GapOffsetZ=1000
ReadyPositionX=65953
ReadyPositionY=66327
ReadyPositionZ=0
CamPositionX=67076
CamPositionY=116893
CamPositionZ=37347
CameraDistanceOffsetX=58521
CameraDistanceOffsetY=9857
Jetting1OffsetX=0
Jetting1OffsetY=0
Jetting2OffsetX=0
Jetting2OffsetY=0
Jetting3OffsetX=0
Jetting3OffsetY=0
Jetting4OffsetX=0
Jetting4OffsetY=0
JettingPositionZ=54500
AvoidPositionX=5000
AvoidPositionY=0
IdlePosX=28437
IdlePosY=63081
IdlePosZ=43000
SamplePosX=17623
SamplePosY=32537
SamplePosZ=43720
SampleVisionPosZ=0
SampleGapPosX=65953
SampleGapPosY=66327
TouchPosX=65953
TouchPosY=66327
TouchPosZ=0
TouchLimitZ=55386
TouchStep=100
TouchOffsetZ=0
CleanPositionX=75469
CleanPositionY=71740
CleanPositionZ=100
TipCleanStartPosX=7036
TipCleanStartPosY=5304
TipCleanPosZ=52885
TipCleanCntX=0
TipCleanCntY=30
TipCleanPitchX=0
TipCleanPitchY=500
AutoCalSpec=0
AutoCalCount=0
GapDistanceX=0
GapDistanceY=0
GapTouchX=0
GapTouchY=0
GapAdjustX=0
GapAdjustY=0
GapMeasureZ=0
[BONDER_2_POINT]
JetDataCount=2
0_Enable=True
0_Radius=3.4
0_Angle=315
0_Delay=200
0_ZOffset=200
0_ZUp=7000
0_PluseNum=7
0_DPTime=50
1_Enable=True
1_Radius=3.3
1_Angle=45
1_Delay=200
1_ZOffset=200
1_ZUp=7000
1_PluseNum=7
1_DPTime=50
2_Enable=True
2_Radius=4.9
2_Angle=38
2_Delay=100
2_ZOffset=0
2_ZUp=0
2_PluseNum=7
2_DPTime=0
3_Enable=True
3_Radius=4.9
3_Angle=32
3_Delay=100
3_ZOffset=0
3_ZUp=0
3_PluseNum=7
3_DPTime=0
4_Enable=True
4_Radius=5.35
4_Angle=325
4_Delay=100
4_ZOffset=0
4_ZUp=0
4_PluseNum=7
4_DPTime=0
5_Enable=True
5_Radius=5.35
5_Angle=318
5_Delay=100
5_ZOffset=0
5_ZUp=0
5_PluseNum=7
5_DPTime=0
6_Enable=True
6_Radius=5.35
6_Angle=311.5
6_Delay=100
6_ZOffset=0
6_ZUp=0
6_PluseNum=7
6_DPTime=0
7_Enable=True
7_Radius=5.35
7_Angle=305
7_Delay=100
7_ZOffset=0
7_ZUp=0
7_PluseNum=7
7_DPTime=0
[BONDER_2_PATTERN]
PL_JetPatternLineDataCount=2
PL_0_JetPatternLineDataCount=6
PL_1_JetPatternLineDataCount=6
PL_Ptn0_0_XPos=2080
PL_Ptn0_0_YPos=-2500
PL_Ptn0_0_ZPos=100
PL_Ptn0_0_LineSpeed=3000
PL_Ptn0_0_ZSpeed=0
PL_Ptn0_0_Shot=False
PL_Ptn0_1_XPos=2090
PL_Ptn0_1_YPos=-2500
PL_Ptn0_1_ZPos=100
PL_Ptn0_1_LineSpeed=3000
PL_Ptn0_1_ZSpeed=0
PL_Ptn0_1_Shot=False
PL_Ptn0_2_XPos=2300
PL_Ptn0_2_YPos=-2400
PL_Ptn0_2_ZPos=100
PL_Ptn0_2_LineSpeed=2500
PL_Ptn0_2_ZSpeed=0
PL_Ptn0_2_Shot=True
PL_Ptn0_3_XPos=2400
PL_Ptn0_3_YPos=-2200
PL_Ptn0_3_ZPos=100
PL_Ptn0_3_LineSpeed=2500
PL_Ptn0_3_ZSpeed=0
PL_Ptn0_3_Shot=True
PL_Ptn0_4_XPos=2510
PL_Ptn0_4_YPos=-2200
PL_Ptn0_4_ZPos=100
PL_Ptn0_4_LineSpeed=3000
PL_Ptn0_4_ZSpeed=0
PL_Ptn0_4_Shot=False
PL_Ptn0_5_XPos=2520
PL_Ptn0_5_YPos=-2200
PL_Ptn0_5_ZPos=100
PL_Ptn0_5_LineSpeed=3000
PL_Ptn0_5_ZSpeed=0
PL_Ptn0_5_Shot=False
PL_Ptn0_6_XPos=0
PL_Ptn0_6_YPos=0
PL_Ptn0_6_ZPos=0
PL_Ptn0_6_LineSpeed=0
PL_Ptn0_6_ZSpeed=0
PL_Ptn0_6_Shot=False
PL_Ptn1_0_XPos=2520
PL_Ptn1_0_YPos=2200
PL_Ptn1_0_ZPos=100
PL_Ptn1_0_LineSpeed=3000
PL_Ptn1_0_ZSpeed=0
PL_Ptn1_0_Shot=False
PL_Ptn1_1_XPos=2510
PL_Ptn1_1_YPos=2200
PL_Ptn1_1_ZPos=100
PL_Ptn1_1_LineSpeed=3000
PL_Ptn1_1_ZSpeed=0
PL_Ptn1_1_Shot=False
PL_Ptn1_2_XPos=2400
PL_Ptn1_2_YPos=2300
PL_Ptn1_2_ZPos=100
PL_Ptn1_2_LineSpeed=2500
PL_Ptn1_2_ZSpeed=0
PL_Ptn1_2_Shot=True
PL_Ptn1_3_XPos=2200
PL_Ptn1_3_YPos=2500
PL_Ptn1_3_ZPos=100
PL_Ptn1_3_LineSpeed=2500
PL_Ptn1_3_ZSpeed=0
PL_Ptn1_3_Shot=True
PL_Ptn1_4_XPos=2090
PL_Ptn1_4_YPos=2500
PL_Ptn1_4_ZPos=100
PL_Ptn1_4_LineSpeed=3000
PL_Ptn1_4_ZSpeed=0
PL_Ptn1_4_Shot=False
PL_Ptn1_5_XPos=2080
PL_Ptn1_5_YPos=2500
PL_Ptn1_5_ZPos=100
PL_Ptn1_5_LineSpeed=3000
PL_Ptn1_5_ZSpeed=0
PL_Ptn1_5_Shot=False
PL_2_JetPatternLineDataCount=6
PL_3_JetPatternLineDataCount=6
PL_Ptn2_0_XPos=2080
PL_Ptn2_0_YPos=-2500
PL_Ptn2_0_ZPos=100
PL_Ptn2_0_LineSpeed=3000
PL_Ptn2_0_ZSpeed=0
PL_Ptn2_0_Shot=False
PL_Ptn2_1_XPos=2090
PL_Ptn2_1_YPos=-2500
PL_Ptn2_1_ZPos=100
PL_Ptn2_1_LineSpeed=3000
PL_Ptn2_1_ZSpeed=0
PL_Ptn2_1_Shot=False
PL_Ptn2_2_XPos=2300
PL_Ptn2_2_YPos=-2400
PL_Ptn2_2_ZPos=100
PL_Ptn2_2_LineSpeed=2500
PL_Ptn2_2_ZSpeed=0
PL_Ptn2_2_Shot=True
PL_Ptn2_3_XPos=2400
PL_Ptn2_3_YPos=-2200
PL_Ptn2_3_ZPos=100
PL_Ptn2_3_LineSpeed=2500
PL_Ptn2_3_ZSpeed=0
PL_Ptn2_3_Shot=True
PL_Ptn2_4_XPos=2510
PL_Ptn2_4_YPos=-2200
PL_Ptn2_4_ZPos=100
PL_Ptn2_4_LineSpeed=3000
PL_Ptn2_4_ZSpeed=0
PL_Ptn2_4_Shot=False
PL_Ptn2_5_XPos=2520
PL_Ptn2_5_YPos=-2200
PL_Ptn2_5_ZPos=100
PL_Ptn2_5_LineSpeed=3000
PL_Ptn2_5_ZSpeed=0
PL_Ptn2_5_Shot=False
PL_Ptn3_0_XPos=2520
PL_Ptn3_0_YPos=2200
PL_Ptn3_0_ZPos=100
PL_Ptn3_0_LineSpeed=3000
PL_Ptn3_0_ZSpeed=0
PL_Ptn3_0_Shot=False
PL_Ptn3_1_XPos=2510
PL_Ptn3_1_YPos=2200
PL_Ptn3_1_ZPos=100
PL_Ptn3_1_LineSpeed=3000
PL_Ptn3_1_ZSpeed=0
PL_Ptn3_1_Shot=False
PL_Ptn3_2_XPos=2400
PL_Ptn3_2_YPos=2300
PL_Ptn3_2_ZPos=100
PL_Ptn3_2_LineSpeed=2500
PL_Ptn3_2_ZSpeed=0
PL_Ptn3_2_Shot=True
PL_Ptn3_3_XPos=2200
PL_Ptn3_3_YPos=2500
PL_Ptn3_3_ZPos=100
PL_Ptn3_3_LineSpeed=2500
PL_Ptn3_3_ZSpeed=0
PL_Ptn3_3_Shot=True
PL_Ptn3_4_XPos=2090
PL_Ptn3_4_YPos=2500
PL_Ptn3_4_ZPos=100
PL_Ptn3_4_LineSpeed=3000
PL_Ptn3_4_ZSpeed=0
PL_Ptn3_4_Shot=False
PL_Ptn3_5_XPos=2080
PL_Ptn3_5_YPos=2500
PL_Ptn3_5_ZPos=100
PL_Ptn3_5_LineSpeed=3000
PL_Ptn3_5_ZSpeed=0
PL_Ptn3_5_Shot=False
[BONDER_2_Arc]
PL_JetPatternARcDataCount=2
PL_0_JetPatternArcDataCount=4
PL_Ptn0_0_XPos=1880
PL_Ptn0_0_YPos=-2550
PL_Ptn0_0_EXPos=0
PL_Ptn0_0_EYPos=0
PL_Ptn0_0_Angle=0
PL_Ptn0_0_ZPos=100
PL_Ptn0_0_LineSpeed=1000
PL_Ptn0_0_ZSpeed=0
PL_Ptn0_0_Shot=False
PL_Ptn0_0_Type=0
PL_Ptn0_1_XPos=1900
PL_Ptn0_1_YPos=-2600
PL_Ptn0_1_EXPos=0
PL_Ptn0_1_EYPos=0
PL_Ptn0_1_Angle=0
PL_Ptn0_1_ZPos=100
PL_Ptn0_1_LineSpeed=1000
PL_Ptn0_1_ZSpeed=0
PL_Ptn0_1_Shot=False
PL_Ptn0_1_Type=0
PL_Ptn0_2_XPos=0
PL_Ptn0_2_YPos=0
PL_Ptn0_2_EXPos=0
PL_Ptn0_2_EYPos=0
PL_Ptn0_2_Angle=17
PL_Ptn0_2_ZPos=100
PL_Ptn0_2_LineSpeed=20000
PL_Ptn0_2_ZSpeed=0
PL_Ptn0_2_Shot=True
PL_Ptn0_2_Type=1
PL_Ptn0_3_XPos=2600
PL_Ptn0_3_YPos=1850
PL_Ptn0_3_EXPos=0
PL_Ptn0_3_EYPos=0
PL_Ptn0_3_Angle=0
PL_Ptn0_3_ZPos=100
PL_Ptn0_3_LineSpeed=1000
PL_Ptn0_3_ZSpeed=0
PL_Ptn0_3_Shot=False
PL_Ptn0_3_Type=0
PL_Ptn0_4_XPos=0
PL_Ptn0_4_YPos=0
PL_Ptn0_4_EXPos=0
PL_Ptn0_4_EYPos=0
PL_Ptn0_4_Angle=17
PL_Ptn0_4_ZPos=100
PL_Ptn0_4_LineSpeed=20000
PL_Ptn0_4_ZSpeed=0
PL_Ptn0_4_Shot=True
PL_Ptn0_4_Type=1
PL_Ptn0_5_XPos=1900
PL_Ptn0_5_YPos=2550
PL_Ptn0_5_EXPos=0
PL_Ptn0_5_EYPos=0
PL_Ptn0_5_Angle=0
PL_Ptn0_5_ZPos=100
PL_Ptn0_5_LineSpeed=1000
PL_Ptn0_5_ZSpeed=0
PL_Ptn0_5_Shot=False
PL_Ptn0_5_Type=0
PL_Ptn0_6_XPos=0
PL_Ptn0_6_YPos=0
PL_Ptn0_6_EXPos=0
PL_Ptn0_6_EYPos=0
PL_Ptn0_6_Angle=65
PL_Ptn0_6_ZPos=100
PL_Ptn0_6_LineSpeed=5000
PL_Ptn0_6_ZSpeed=0
PL_Ptn0_6_Shot=True
PL_Ptn0_6_Type=1
PL_Ptn0_7_XPos=3220
PL_Ptn0_7_YPos=2230
PL_Ptn0_7_EXPos=0
PL_Ptn0_7_EYPos=0
PL_Ptn0_7_Angle=0
PL_Ptn0_7_ZPos=100
PL_Ptn0_7_LineSpeed=2000
PL_Ptn0_7_ZSpeed=0
PL_Ptn0_7_Shot=False
PL_Ptn0_7_Type=0
PL_Ptn0_8_XPos=0
PL_Ptn0_8_YPos=0
PL_Ptn0_8_EXPos=0
PL_Ptn0_8_EYPos=0
PL_Ptn0_8_Angle=12
PL_Ptn0_8_ZPos=100
PL_Ptn0_8_LineSpeed=5000
PL_Ptn0_8_ZSpeed=0
PL_Ptn0_8_Shot=True
PL_Ptn0_8_Type=1
PL_Ptn0_9_XPos=2200
PL_Ptn0_9_YPos=3100
PL_Ptn0_9_EXPos=0
PL_Ptn0_9_EYPos=0
PL_Ptn0_9_Angle=0
PL_Ptn0_9_ZPos=100
PL_Ptn0_9_LineSpeed=2000
PL_Ptn0_9_ZSpeed=0
PL_Ptn0_9_Shot=False
PL_Ptn0_9_Type=0
PL_1_JetPatternArcDataCount=4
PL_Ptn1_0_XPos=2610
PL_Ptn1_0_YPos=1850
PL_Ptn1_0_EXPos=0
PL_Ptn1_0_EYPos=0
PL_Ptn1_0_Angle=0
PL_Ptn1_0_ZPos=100
PL_Ptn1_0_LineSpeed=10000
PL_Ptn1_0_ZSpeed=0
PL_Ptn1_0_Shot=False
PL_Ptn1_0_Type=0
PL_Ptn1_1_XPos=2600
PL_Ptn1_1_YPos=1850
PL_Ptn1_1_EXPos=0
PL_Ptn1_1_EYPos=0
PL_Ptn1_1_Angle=0
PL_Ptn1_1_ZPos=100
PL_Ptn1_1_LineSpeed=10000
PL_Ptn1_1_ZSpeed=0
PL_Ptn1_1_Shot=False
PL_Ptn1_1_Type=0
PL_Ptn1_2_XPos=0
PL_Ptn1_2_YPos=0
PL_Ptn1_2_EXPos=0
PL_Ptn1_2_EYPos=0
PL_Ptn1_2_Angle=17
PL_Ptn1_2_ZPos=100
PL_Ptn1_2_LineSpeed=20000
PL_Ptn1_2_ZSpeed=0
PL_Ptn1_2_Shot=True
PL_Ptn1_2_Type=1
PL_Ptn1_3_XPos=1900
PL_Ptn1_3_YPos=2550
PL_Ptn1_3_EXPos=0
PL_Ptn1_3_EYPos=0
PL_Ptn1_3_Angle=0
PL_Ptn1_3_ZPos=100
PL_Ptn1_3_LineSpeed=10000
PL_Ptn1_3_ZSpeed=0
PL_Ptn1_3_Shot=False
PL_Ptn1_3_Type=0
[VISION_INSPECT]
VCMVisionMovingDelay=0
VCMVisionGrabDelay=1000
VisionInspectGrabDelay=1000
VCMVisionReadyPosition=0
VCMVisionWorkPosition=67070
[CURING_1]
CuringTime=1200
ActuatorTime=2500
[CURING_2]
CuringTime=1200
ActuatorTime=0
[PLATE_ANGLE]
MovingDelay=0
DefaultValue=0
MinLimit=-25
MaxLimit=1000
RowDataMinLimit=-5
RowDataMaxLimit=-0.5
LensBottomRowDataMinLimit=0
LensBottomRowDataMaxLimit=10
SideAnglePointNumber=4
SideAngleLensBottomPointNumber=4
SideAngleVCMPointNumber=3
MeasureTime=0
VacuumDelay=100
BlowDelay=0
ActuatorTime=1500
RnRPercent=1
RnRShift=0
ReadyPosition=21600
WorkPosition=40300
[UNLOADER]
SlotCount=5
SlotPitchZ=36000
TrayCountX=8
TrayCountY=8
TrayPitchX=16500
TrayPitchY=16500
NG_TrayCountX=7
NG_TrayCountY=3
NG_TrayPitchX=16500
NG_TrayPitchY=16500
MovingDelayZ=100
MovingDelayY=0
MovingDelayX=100
ReadyPositionZ=-5118
InOutOffsetZ=0
ReadyPositionX=0
StagePositionX=15983
MagazinePositionX=249926
ReadyPositionY=35180
EjectPositionY=35180
StageFirstPlacePositionY=45180
NGTrayFirstPlacePositionY=-14676
WorkPositionY=0
StageMagazineChangePositionY=0
[UNLOAD_PICKER]
MovingDelayX=100
MovingDelayY=100
MovingDelayZ=100
MovingDelayT=100
StepPlaceSpeed=10
NgStepPlaceSpeed=10
UnloaderVacDelay=100
UnloaderBlowDelay=100
ReadyPositionX=100483
ReadyPositionY=5589
ReadyPositionZ=0
ReadyPositionT=785
IndexPickPositionX=7160
IndexPickPositionY=6789
IndexPickPositionZ=16500
IndexPickPositionT=-162
StageFirstPlacePositionX=190664
StagePlacePositionY=50872
StagePlacePositionZ=65528
StageStepPlaceOffset=5000
StagePlacePositionT=3
NGTrayPositionX=188874
NGTrayPositionY=0
NGTrayPositionZ=56784
NGTrayStepPlaceOffset=5000
NGTrayPositionT=3
AvoidPositionX=5589
[CLEAN_JIG]
CleanTime=1000
[INDEX]
StepPitch=30000
MovingDelay=20
