[VCM_LOADER]
SlotCount=10
SlotPitchZ=18000
TrayCountX=8
TrayCountY=8
TrayPitchX=16500
TrayPitchY=16500
MovingDelayZ=100
MovingDelayX=100
[VCM_PICKER]
MovingDelayX=100
MovingDelayY=100
MovingDelayZ=100
MovingDelayT=100
StepPlaceSpeed=0
VCMVacDelay=200
VCMBlowDelay=200
ReadyPositionX=120258
ReadyPositionY=40835
ReadyPositionZ=5000
ReadyPositionT=381
StageFirstPickPositionX=6471
StagePickPositionY=38638
StagePickPositionZ=69067
StagePickPositionT=-365
IndexPlacePositionX=276363
IndexPlacePositionY=40008
IndexPlacePositionZ=20552
IndexStepPlaceOffset=0
ClampPlacePositionZ=10800
IndexPlacePositionT=-195
[LENS_LOADER]
SlotCount=5
SlotPitchZ=25000
TrayCountX=10
TrayCountY=10
TrayPitchX=12200
TrayPitchY=12200
MovingDelayZ=100
MovingDelayY=100
MovingDelayX=100
[LENS_PICKER]
MovingDelayX=0
MovingDelayY=0
MovingDelayZ=50
MovingDelayT=50
StepPlaceSpeed=10
BottomCamStepSpeed=0
LensVacDelay=100
LensBlowDelay=300
LensUpperGrabDelay=200
LensUnderGrabDelay=200
SecondaryCorrLimit=5
[LENS_HEIGHT]
MinOver=-120
MaxOver=120
DefaultHeight_0=-5.127
DefaultHeight_1=-5.107
DefaultHeight_2=-5.13
DefaultHeight_3=-5.151
DefaultHeight_4=-5.143
DefaultHeight_5=-5.132
DefaultHeight_6=-5.131
DefaultHeight_7=-5.139
DefaultHeight_8=-5.145
DefaultHeight_9=-5.135
DefaultHeight_10=-5.143
DefaultHeight_11=-5.15
MeasureTime=1800
[JIG_PLATE_ANGLE]
MovingDelay=0
MeasureTime=1000
[BONDER_1]
JettingCount=4500
JettingTime=500
IdleTime=3600000
RiseTime=0
HoldTime=0
FallTime=0
JetDelay=0
Pct=0
PulseNum=0
WorkMode=0
Voltage=0
MovingDelayX=0
MovingDelayY=0
MovingDelayZ=100
Bonder1GrabDelay=400
GapPosX=0
GapPosY=0
GapOffsetLimitZ=0
GapMeasureDelay=0
GapOffsetZ=0
[BONDER_1_POINT]
JetDataCount=8
0_Enable=True
0_Radius=5.05
0_Angle=130
0_Delay=100
0_ZOffset=0
0_ZUp=0
0_PluseNum=12
0_DPTime=0
1_Enable=True
1_Radius=5.05
1_Angle=135
1_Delay=100
1_ZOffset=0
1_ZUp=0
1_PluseNum=12
1_DPTime=0
2_Enable=True
2_Radius=5.05
2_Angle=141
2_Delay=100
2_ZOffset=0
2_ZUp=0
2_PluseNum=10
2_DPTime=0
3_Enable=True
3_Radius=5.05
3_Angle=146
3_Delay=100
3_ZOffset=0
3_ZUp=0
3_PluseNum=12
3_DPTime=0
4_Enable=True
4_Radius=5.1
4_Angle=215
4_Delay=100
4_ZOffset=0
4_ZUp=0
4_PluseNum=12
4_DPTime=0
5_Enable=True
5_Radius=5.1
5_Angle=220
5_Delay=100
5_ZOffset=0
5_ZUp=0
5_PluseNum=12
5_DPTime=0
6_Enable=True
6_Radius=5.1
6_Angle=230
6_Delay=100
6_ZOffset=0
6_ZUp=0
6_PluseNum=12
6_DPTime=0
7_Enable=True
7_Radius=5.1
7_Angle=235
7_Delay=100
7_ZOffset=0
7_ZUp=0
7_PluseNum=9
7_DPTime=0
[BONDER_1_PATTERN]
PL_JetPatternLineDataCount=2
PL_0_JetPatternLineDataCount=6
PL_Ptn0_0_XPos=-2600
PL_Ptn0_0_YPos=4000
PL_Ptn0_0_ZPos=100
PL_Ptn0_0_LineSpeed=18000
PL_Ptn0_0_ZSpeed=0
PL_Ptn0_0_Shot=False
PL_Ptn0_1_XPos=-2700
PL_Ptn0_1_YPos=3950
PL_Ptn0_1_ZPos=100
PL_Ptn0_1_LineSpeed=18000
PL_Ptn0_1_ZSpeed=0
PL_Ptn0_1_Shot=False
PL_Ptn0_2_XPos=-2800
PL_Ptn0_2_YPos=3900
PL_Ptn0_2_ZPos=100
PL_Ptn0_2_LineSpeed=46000
PL_Ptn0_2_ZSpeed=0
PL_Ptn0_2_Shot=True
PL_Ptn0_3_XPos=-3900
PL_Ptn0_3_YPos=2300
PL_Ptn0_3_ZPos=100
PL_Ptn0_3_LineSpeed=46000
PL_Ptn0_3_ZSpeed=0
PL_Ptn0_3_Shot=True
PL_Ptn0_4_XPos=-4000
PL_Ptn0_4_YPos=2200
PL_Ptn0_4_ZPos=100
PL_Ptn0_4_LineSpeed=18000
PL_Ptn0_4_ZSpeed=0
PL_Ptn0_4_Shot=False
PL_Ptn0_5_XPos=-4100
PL_Ptn0_5_YPos=2100
PL_Ptn0_5_ZPos=100
PL_Ptn0_5_LineSpeed=18000
PL_Ptn0_5_ZSpeed=0
PL_Ptn0_5_Shot=False
PL_1_JetPatternLineDataCount=6
PL_Ptn1_0_XPos=-4150
PL_Ptn1_0_YPos=-2600
PL_Ptn1_0_ZPos=0
PL_Ptn1_0_LineSpeed=23000
PL_Ptn1_0_ZSpeed=0
PL_Ptn1_0_Shot=False
PL_Ptn1_1_XPos=-4050
PL_Ptn1_1_YPos=-2700
PL_Ptn1_1_ZPos=0
PL_Ptn1_1_LineSpeed=23000
PL_Ptn1_1_ZSpeed=0
PL_Ptn1_1_Shot=False
PL_Ptn1_2_XPos=-3950
PL_Ptn1_2_YPos=-2800
PL_Ptn1_2_ZPos=0
PL_Ptn1_2_LineSpeed=46000
PL_Ptn1_2_ZSpeed=0
PL_Ptn1_2_Shot=True
PL_Ptn1_3_XPos=-2700
PL_Ptn1_3_YPos=-4500
PL_Ptn1_3_ZPos=0
PL_Ptn1_3_LineSpeed=46000
PL_Ptn1_3_ZSpeed=0
PL_Ptn1_3_Shot=True
PL_Ptn1_4_XPos=-2600
PL_Ptn1_4_YPos=-4600
PL_Ptn1_4_ZPos=0
PL_Ptn1_4_LineSpeed=18000
PL_Ptn1_4_ZSpeed=0
PL_Ptn1_4_Shot=False
PL_Ptn1_5_XPos=-2500
PL_Ptn1_5_YPos=-4700
PL_Ptn1_5_ZPos=0
PL_Ptn1_5_LineSpeed=18000
PL_Ptn1_5_ZSpeed=0
PL_Ptn1_5_Shot=False
[BONDER_2]
JettingCount=4500
JettingTime=500
IdleTime=3600000
RiseTime=0
HoldTime=0
FallTime=0
JetDelay=0
Pct=0
PulseNum=0
WorkMode=0
Voltage=0
MovingDelayX=0
MovingDelayY=0
MovingDelayZ=100
Bonder2GrabDelay=400
GapPosX=0
GapPosY=0
GapOffsetLimitZ=0
GapMeasureDelay=0
GapOffsetZ=0
[BONDER_2_POINT]
JetDataCount=8
0_Enable=True
0_Radius=4.9
0_Angle=51
0_Delay=100
0_ZOffset=0
0_ZUp=0
0_PluseNum=7
0_DPTime=0
1_Enable=True
1_Radius=4.9
1_Angle=44
1_Delay=100
1_ZOffset=0
1_ZUp=0
1_PluseNum=7
1_DPTime=0
2_Enable=True
2_Radius=4.9
2_Angle=38
2_Delay=100
2_ZOffset=0
2_ZUp=0
2_PluseNum=7
2_DPTime=0
3_Enable=True
3_Radius=4.9
3_Angle=32
3_Delay=100
3_ZOffset=0
3_ZUp=0
3_PluseNum=7
3_DPTime=0
4_Enable=True
4_Radius=5.35
4_Angle=325
4_Delay=100
4_ZOffset=0
4_ZUp=0
4_PluseNum=7
4_DPTime=0
5_Enable=True
5_Radius=5.35
5_Angle=318
5_Delay=100
5_ZOffset=0
5_ZUp=0
5_PluseNum=7
5_DPTime=0
6_Enable=True
6_Radius=5.35
6_Angle=311.5
6_Delay=100
6_ZOffset=0
6_ZUp=0
6_PluseNum=7
6_DPTime=0
7_Enable=True
7_Radius=5.35
7_Angle=305
7_Delay=100
7_ZOffset=0
7_ZUp=0
7_PluseNum=7
7_DPTime=0
[BONDER_2_PATTERN]
PL_JetPatternLineDataCount=2
PL_0_JetPatternLineDataCount=6
PL_Ptn0_0_XPos=2500
PL_Ptn0_0_YPos=-4300
PL_Ptn0_0_ZPos=100
PL_Ptn0_0_LineSpeed=20000
PL_Ptn0_0_ZSpeed=0
PL_Ptn0_0_Shot=False
PL_Ptn0_1_XPos=2600
PL_Ptn0_1_YPos=-4200
PL_Ptn0_1_ZPos=100
PL_Ptn0_1_LineSpeed=20000
PL_Ptn0_1_ZSpeed=0
PL_Ptn0_1_Shot=False
PL_Ptn0_2_XPos=2700
PL_Ptn0_2_YPos=-4100
PL_Ptn0_2_ZPos=100
PL_Ptn0_2_LineSpeed=40000
PL_Ptn0_2_ZSpeed=0
PL_Ptn0_2_Shot=True
PL_Ptn0_3_XPos=3850
PL_Ptn0_3_YPos=-2600
PL_Ptn0_3_ZPos=100
PL_Ptn0_3_LineSpeed=40000
PL_Ptn0_3_ZSpeed=0
PL_Ptn0_3_Shot=True
PL_Ptn0_4_XPos=3950
PL_Ptn0_4_YPos=-2500
PL_Ptn0_4_ZPos=100
PL_Ptn0_4_LineSpeed=20000
PL_Ptn0_4_ZSpeed=0
PL_Ptn0_4_Shot=False
PL_Ptn0_5_XPos=4050
PL_Ptn0_5_YPos=-2400
PL_Ptn0_5_ZPos=100
PL_Ptn0_5_LineSpeed=20000
PL_Ptn0_5_ZSpeed=0
PL_Ptn0_5_Shot=False
PL_1_JetPatternLineDataCount=6
PL_Ptn1_0_XPos=4200
PL_Ptn1_0_YPos=2600
PL_Ptn1_0_ZPos=100
PL_Ptn1_0_LineSpeed=20000
PL_Ptn1_0_ZSpeed=0
PL_Ptn1_0_Shot=False
PL_Ptn1_1_XPos=4100
PL_Ptn1_1_YPos=2700
PL_Ptn1_1_ZPos=100
PL_Ptn1_1_LineSpeed=20000
PL_Ptn1_1_ZSpeed=0
PL_Ptn1_1_Shot=False
PL_Ptn1_2_XPos=4000
PL_Ptn1_2_YPos=2800
PL_Ptn1_2_ZPos=100
PL_Ptn1_2_LineSpeed=40000
PL_Ptn1_2_ZSpeed=0
PL_Ptn1_2_Shot=True
PL_Ptn1_3_XPos=2600
PL_Ptn1_3_YPos=3850
PL_Ptn1_3_ZPos=100
PL_Ptn1_3_LineSpeed=40000
PL_Ptn1_3_ZSpeed=0
PL_Ptn1_3_Shot=True
PL_Ptn1_4_XPos=2500
PL_Ptn1_4_YPos=3950
PL_Ptn1_4_ZPos=100
PL_Ptn1_4_LineSpeed=20000
PL_Ptn1_4_ZSpeed=0
PL_Ptn1_4_Shot=False
PL_Ptn1_5_XPos=2400
PL_Ptn1_5_YPos=4050
PL_Ptn1_5_ZPos=100
PL_Ptn1_5_LineSpeed=20000
PL_Ptn1_5_ZSpeed=0
PL_Ptn1_5_Shot=False
[VISION_INSPECT]
VCMVisionMovingDelay=0
VCMVisionGrabDelay=0
VisionInspectGrabDelay=0
[CURING_1]
CuringTime=1200
ActuatorTime=2500
[CURING_2]
CuringTime=1200
ActuatorTime=0
[PLATE_ANGLE]
MovingDelay=0
DefaultValue=0
MinLimit=-25
MaxLimit=25
MeasureTime=0
VacuumDelay=100
BlowDelay=0
ActuatorTime=1500
RnRPercent=1
RnRShift=0
[UNLOADER]
SlotCount=5
SlotPitchZ=36000
TrayCountX=8
TrayCountY=8
TrayPitchX=16500
TrayPitchY=16500
NG_TrayCountX=7
NG_TrayCountY=3
NG_TrayPitchX=16500
NG_TrayPitchY=18500
MovingDelayZ=100
MovingDelayY=0
MovingDelayX=100
[UNLOAD_PICKER]
MovingDelayX=100
MovingDelayY=100
MovingDelayZ=100
MovingDelayT=100
StepPlaceSpeed=10
NgStepPlaceSpeed=10
UnloaderVacDelay=100
UnloaderBlowDelay=100
[CLEAN_JIG]
CleanTime=1000
[INDEX]
StepPitch=30000
MovingDelay=20
[BONDER_1_Arc]
PL_JetPatternARcDataCount=2
PL_0_JetPatternArcDataCount=2
PL_1_JetPatternArcDataCount=0
PL_Ptn0_0_XPos=0
PL_Ptn0_0_YPos=0
PL_Ptn0_0_Radius=0
PL_Ptn0_0_Angle=0
PL_Ptn0_0_ZPos=0
PL_Ptn0_0_LineSpeed=0
PL_Ptn0_0_ZSpeed=0
PL_Ptn0_0_Shot=False
PL_Ptn0_1_XPos=0
PL_Ptn0_1_YPos=0
PL_Ptn0_1_Radius=0
PL_Ptn0_1_Angle=0
PL_Ptn0_1_ZPos=0
PL_Ptn0_1_LineSpeed=0
PL_Ptn0_1_ZSpeed=0
PL_Ptn0_1_Shot=False
